Environment-temp_hum_pressure(real_and_simulated).json
[{
  "id": "3a877419.99f074",
  "type": "rpi-sensehat in",
  "z": "554c93c.6a19b6c",
  "name": "Environment",
  "motion": false,
  "env": true,
  "stick": false,
  "x": 165,
  "y": 262,
  "wires": [
    ["97bf2bf1.994eb8", "d833a817.2c6758", "f4ede857.1e4cc"]
  ]
}, {
  "id": "ca3a6b61.f6037",
  "type": "debug",
  "z": "554c93c.6a19b6c",
  "name": "Temperature",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "payload",
  "x": 829.5,
  "y": 20,
  "wires": []
}, {
  "id": "57b4f7d0.d84de",
  "type": "debug",
  "z": "554c93c.6a19b6c",
  "name": "Humidity",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "payload",
  "x": 816,
  "y": 64,
  "wires": []
}, {
  "id": "14482e15.948132",
  "type": "debug",
  "z": "554c93c.6a19b6c",
  "name": "Pressure",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "payload",
  "x": 817,
  "y": 114,
  "wires": []
}, {
  "id": "b1c6e648.7a7ee",
  "type": "ui_chart",
  "z": "554c93c.6a19b6c",
  "name": "",
  "group": "bf515a74.b5e0d8",
  "order": 0,
  "width": 0,
  "height": 0,
  "label": "Humidity (%)",
  "chartType": "line",
  "legend": "false",
  "xformat": "HH:mm:ss",
  "interpolate": "linear",
  "nodata": "",
  "dot": true,
  "ymin": "",
  "ymax": "",
  "removeOlder": 1,
  "removeOlderPoints": "",
  "removeOlderUnit": "60",
  "cutout": 0,
  "useOneColor": false,
  "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
  "useOldStyle": false,
  "x": 800.5,
  "y": 261,
  "wires": [
    [],
    []
  ]
}, {
  "id": "97bf2bf1.994eb8",
  "type": "change",
  "z": "554c93c.6a19b6c",
  "name": "Temperature",
  "rules": [{
    "t": "move",
    "p": "payload.temperature",
    "pt": "msg",
    "to": "payload",
    "tot": "msg"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 384.5,
  "y": 215,
  "wires": [
    ["ca3a6b61.f6037", "a809d603.c953e"]
  ]
}, {
  "id": "d833a817.2c6758",
  "type": "change",
  "z": "554c93c.6a19b6c",
  "name": "Humidity",
  "rules": [{
    "t": "move",
    "p": "payload.humidity",
    "pt": "msg",
    "to": "payload",
    "tot": "msg"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 446,
  "y": 264,
  "wires": [
    ["57b4f7d0.d84de", "b1c6e648.7a7ee"]
  ]
}, {
  "id": "a809d603.c953e",
  "type": "ui_chart",
  "z": "554c93c.6a19b6c",
  "name": "",
  "group": "bf515a74.b5e0d8",
  "order": 0,
  "width": 0,
  "height": 0,
  "label": "Temperature (ºC)",
  "chartType": "line",
  "legend": "false",
  "xformat": "HH:mm:ss",
  "interpolate": "linear",
  "nodata": "",
  "dot": true,
  "ymin": "",
  "ymax": "",
  "removeOlder": 1,
  "removeOlderPoints": "",
  "removeOlderUnit": "86400",
  "cutout": 0,
  "useOneColor": false,
  "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
  "useOldStyle": false,
  "x": 824,
  "y": 211,
  "wires": [
    [],
    []
  ]
}, {
  "id": "4fd9c6a8.6ef9a",
  "type": "ui_chart",
  "z": "554c93c.6a19b6c",
  "name": "",
  "group": "bf515a74.b5e0d8",
  "order": 0,
  "width": 0,
  "height": 0,
  "label": "Pressure (mbar)",
  "chartType": "line",
  "legend": "false",
  "xformat": "HH:mm:ss",
  "interpolate": "linear",
  "nodata": "",
  "dot": true,
  "ymin": "",
  "ymax": "",
  "removeOlder": 1,
  "removeOlderPoints": "",
  "removeOlderUnit": "60",
  "cutout": 0,
  "useOneColor": false,
  "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
  "useOldStyle": false,
  "x": 821,
  "y": 318,
  "wires": [
    [],
    []
  ]
}, {
  "id": "f4ede857.1e4cc",
  "type": "change",
  "z": "554c93c.6a19b6c",
  "name": "Pressure",
  "rules": [{
    "t": "move",
    "p": "payload.pressure",
    "pt": "msg",
    "to": "payload",
    "tot": "msg"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 517.5,
  "y": 308,
  "wires": [
    ["4fd9c6a8.6ef9a"]
  ]
}, {
  "id": "40d3b7aa.4ea178",
  "type": "debug",
  "z": "554c93c.6a19b6c",
  "name": "Temperature",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "payload",
  "x": 822,
  "y": 421,
  "wires": []
}, {
  "id": "60487e39.7ac988",
  "type": "debug",
  "z": "554c93c.6a19b6c",
  "name": "Humidity",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "payload",
  "x": 808.5,
  "y": 465,
  "wires": []
}, {
  "id": "8a1e6832.7038c8",
  "type": "debug",
  "z": "554c93c.6a19b6c",
  "name": "Pressure",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "payload",
  "x": 809.5,
  "y": 515,
  "wires": []
}, {
  "id": "16bbe797.adcca",
  "type": "ui_chart",
  "z": "554c93c.6a19b6c",
  "name": "",
  "group": "b56fdc38.bcfa1",
  "order": 0,
  "width": 0,
  "height": 0,
  "label": "Humidity (%)",
  "chartType": "line",
  "legend": "false",
  "xformat": "HH:mm:ss",
  "interpolate": "linear",
  "nodata": "",
  "dot": true,
  "ymin": "",
  "ymax": "",
  "removeOlder": 1,
  "removeOlderPoints": "",
  "removeOlderUnit": "86400",
  "cutout": 0,
  "useOneColor": false,
  "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
  "useOldStyle": false,
  "x": 791,
  "y": 662,
  "wires": [
    [],
    []
  ]
}, {
  "id": "60c38ab1.465704",
  "type": "change",
  "z": "554c93c.6a19b6c",
  "name": "Temperature",
  "rules": [{
    "t": "move",
    "p": "payload.temperature",
    "pt": "msg",
    "to": "payload",
    "tot": "msg"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 378,
  "y": 519,
  "wires": [
    ["40d3b7aa.4ea178", "862997b0.8b8be"]
  ]
}, {
  "id": "bdb2a6bf.81854",
  "type": "change",
  "z": "554c93c.6a19b6c",
  "name": "Humidity",
  "rules": [{
    "t": "move",
    "p": "payload.humidity",
    "pt": "msg",
    "to": "payload",
    "tot": "msg"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 441.5,
  "y": 569,
  "wires": [
    ["60487e39.7ac988", "16bbe797.adcca"]
  ]
}, {
  "id": "862997b0.8b8be",
  "type": "ui_chart",
  "z": "554c93c.6a19b6c",
  "name": "",
  "group": "b56fdc38.bcfa1",
  "order": 0,
  "width": 0,
  "height": 0,
  "label": "Temperature (ºC)",
  "chartType": "line",
  "legend": "false",
  "xformat": "HH:mm:ss",
  "interpolate": "linear",
  "nodata": "",
  "dot": true,
  "ymin": "",
  "ymax": "",
  "removeOlder": 1,
  "removeOlderPoints": "",
  "removeOlderUnit": "86400",
  "cutout": 0,
  "useOneColor": false,
  "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
  "useOldStyle": false,
  "x": 816.5,
  "y": 612,
  "wires": [
    [],
    []
  ]
}, {
  "id": "69e33565.b81d74",
  "type": "ui_chart",
  "z": "554c93c.6a19b6c",
  "name": "",
  "group": "b56fdc38.bcfa1",
  "order": 0,
  "width": 0,
  "height": 0,
  "label": "Pressure (mbar)",
  "chartType": "line",
  "legend": "false",
  "xformat": "HH:mm:ss",
  "interpolate": "linear",
  "nodata": "",
  "dot": true,
  "ymin": "",
  "ymax": "",
  "removeOlder": 1,
  "removeOlderPoints": "",
  "removeOlderUnit": "86400",
  "cutout": 0,
  "useOneColor": false,
  "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
  "useOldStyle": false,
  "x": 813.5,
  "y": 719,
  "wires": [
    [],
    []
  ]
}, {
  "id": "5f1c6568.daf30c",
  "type": "change",
  "z": "554c93c.6a19b6c",
  "name": "Pressure",
  "rules": [{
    "t": "move",
    "p": "payload.pressure",
    "pt": "msg",
    "to": "payload",
    "tot": "msg"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 486,
  "y": 628,
  "wires": [
    ["69e33565.b81d74", "8a1e6832.7038c8"]
  ]
}, {
  "id": "a8a1401c.4353c",
  "type": "rpi-sensehatsim in",
  "z": "554c93c.6a19b6c",
  "name": "",
  "motion": false,
  "env": true,
  "stick": false,
  "x": 170.5,
  "y": 550,
  "wires": [
    ["bdb2a6bf.81854", "60c38ab1.465704", "5f1c6568.daf30c"]
  ]
}, {
  "id": "bf515a74.b5e0d8",
  "type": "ui_group",
  "z": "",
  "name": "Sense Hat",
  "tab": "34866cac.c98654",
  "disp": true,
  "width": "6",
  "collapse": false
}, {
  "id": "b56fdc38.bcfa1",
  "type": "ui_group",
  "z": "",
  "name": "Emulator",
  "tab": "34866cac.c98654",
  "order": 2,
  "disp": true,
  "width": "6",
  "collapse": false
}, {
  "id": "34866cac.c98654",
  "type": "ui_tab",
  "z": "",
  "name": "Enviroment",
  "icon": "dashboard"
}]
