node-red-LED_matrix.json
[{
  "id": "73dd29f5.9ed738",
  "type": "rpi-sensehat out",
  "z": "2df6563d.af766a",
  "name": "",
  "x": 858.5,
  "y": 259,
  "wires": []
}, {
  "id": "5d3a2ab7.b4e9b4",
  "type": "inject",
  "z": "2df6563d.af766a",
  "name": "",
  "topic": "",
  "payload": "E",
  "payloadType": "str",
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "x": 579.5,
  "y": 90,
  "wires": [
    ["73dd29f5.9ed738"]
  ]
}, {
  "id": "d853b542.df3248",
  "type": "inject",
  "z": "2df6563d.af766a",
  "name": "",
  "topic": "",
  "payload": "R90",
  "payloadType": "str",
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "x": 439.5,
  "y": 197,
  "wires": [
    ["73dd29f5.9ed738"]
  ]
}, {
  "id": "b0e3956d.5e47a",
  "type": "inject",
  "z": "2df6563d.af766a",
  "name": "",
  "topic": "",
  "payload": "*,*,red",
  "payloadType": "str",
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "x": 287.5,
  "y": 320,
  "wires": [
    ["73dd29f5.9ed738"]
  ]
}, {
  "id": "c642b857.85afb",
  "type": "inject",
  "z": "2df6563d.af766a",
  "name": "",
  "topic": "",
  "payload": "R270",
  "payloadType": "str",
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "x": 438.5,
  "y": 230,
  "wires": [
    ["73dd29f5.9ed738"]
  ]
}, {
  "id": "9cad76b0.cf62b",
  "type": "inject",
  "z": "2df6563d.af766a",
  "name": "",
  "topic": "",
  "payload": "R0",
  "payloadType": "str",
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "x": 441.5,
  "y": 163,
  "wires": [
    ["73dd29f5.9ed738"]
  ]
}, {
  "id": "b18be993.00de6",
  "type": "inject",
  "z": "2df6563d.af766a",
  "name": "corners",
  "topic": "",
  "payload": "0,0,red,0,7,#00ff00,7,7,yellow,7,0,0,0,255",
  "payloadType": "str",
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "x": 286.5,
  "y": 411,
  "wires": [
    ["73dd29f5.9ed738"]
  ]
}, {
  "id": "2e8ebd12.11ea42",
  "type": "inject",
  "z": "2df6563d.af766a",
  "name": "",
  "topic": "",
  "payload": "4-6,*,purple",
  "payloadType": "str",
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "x": 305.5,
  "y": 351,
  "wires": [
    ["73dd29f5.9ed738"]
  ]
}, {
  "id": "3d2cc91b.098076",
  "type": "inject",
  "z": "2df6563d.af766a",
  "name": "Flip horizontal",
  "topic": "",
  "payload": "FH",
  "payloadType": "str",
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "x": 546.5,
  "y": 441,
  "wires": [
    ["73dd29f5.9ed738"]
  ]
}, {
  "id": "a09cfb09.04d51",
  "type": "inject",
  "z": "2df6563d.af766a",
  "name": "Flip vertical",
  "topic": "",
  "payload": "FV",
  "payloadType": "str",
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "x": 545,
  "y": 471,
  "wires": [
    ["73dd29f5.9ed738"]
  ]
}, {
  "id": "de7d1a25.e3f33",
  "type": "inject",
  "z": "2df6563d.af766a",
  "name": "clear",
  "topic": "",
  "payload": "*,*,black",
  "payloadType": "str",
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "x": 287,
  "y": 289,
  "wires": [
    ["73dd29f5.9ed738"]
  ]
}, {
  "id": "e8c73369.213ed",
  "type": "inject",
  "z": "2df6563d.af766a",
  "name": "",
  "topic": "",
  "payload": "*,4-6,cyan",
  "payloadType": "str",
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "x": 292,
  "y": 382,
  "wires": [
    ["73dd29f5.9ed738"]
  ]
}, {
  "id": "4f6fb24b.fceb44",
  "type": "inject",
  "z": "2df6563d.af766a",
  "name": "scroll",
  "topic": "",
  "payload": "59.58.57.56.55.54.53.52.51.49.48.47.46.45.44.43.42.41.40.39.38.37.36.35.34.33.32.31.30.29.28.27.26.25.24.23.22.21.20.19.18.17.16.15.14.13.12.11.10.9.8.7.6.5.4.3.2.1.0",
  "payloadType": "str",
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "x": 398.5,
  "y": 561,
  "wires": [
    ["fabf4f34.0ebca"]
  ]
}, {
  "id": "4e617ec5.604148",
  "type": "debug",
  "z": "2df6563d.af766a",
  "name": "",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "true",
  "x": 752.5,
  "y": 559,
  "wires": []
}, {
  "id": "fabf4f34.0ebca",
  "type": "function",
  "z": "2df6563d.af766a",
  "name": "config",
  "func": "msg.color = \"yellow\";\nmsg.background = [0,0,0];\nmsg.speed = 4;\n\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 592.5,
  "y": 559,
  "wires": [
    ["4e617ec5.604148", "73dd29f5.9ed738"]
  ]
}]
